.gallery-page {
  width: 85%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 1.5rem;
  padding: 100px 2rem 2rem 2rem;
  background-color: bisque;
}

@media screen and (max-width: 767px) {
  .gallery-page {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 1rem;
    width: 100%;
  }
}
