.img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 25rem;

  .image-placeholder {
    background-color: rgb(253, 210, 156);
  }

  .lazy-image {
    object-fit: cover;
    width: 100%;
    min-height: 25rem;
  }
}

@media screen and (max-width: 767px) {
  .img {
    max-height: 12rem;
    min-height: 12rem;
  }
}
